@media only screen and (max-width: 600px) {
  .innerDetails {
    padding: 0px 20px;
    font-size: 12px;
  }
  #home {
    background-image: url("media/images/mob_bg.jpg");
  }
  .navbar {
    background: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.706),
      rgba(0, 0, 0, 0.455),
      rgba(70, 69, 69, 0)
    );
  }
  #about .aboutContainer {
    padding: 0px 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  #about .aboutContainer div {
    width: 100%;
    overflow: hidden;
  }
  #about .aboutDiv {
    padding: 50px;
  }

  .aboutDiv div {
    height: 200px;
  }
  .navbar div:nth-child(odd) {
    display: none;
  }
  .menuNav {
    display: block;
  }
  /* .navbar div:nth-child(even){
        position: fixed;
        top: 0;
        left: 0;
    } */
  #eventTitleText h1 {
    font-size: 1.5em;
  }
  #about div p {
    font-size: 1em;
    line-height: 20px;
    text-align: center;
  }
  #about div:nth-child(1) {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about div iframe {
    height: 200px;
  }
  #about img {
    width: 100%;
  }
  .infoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .infoDiv div {
    width: 90vw;
    height: 100vh;
    background-image: url(media/images/graduation-scroll.jpg);
  } */
  .footer {
    display: none;
  }
  .footerContent {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
  }
  .events div,
  .competitions div {
    flex-direction: column;
    gap: 50px;
  }
  .events,
  .competitions {
    margin-top: 100px;
  }
  /* .events div .eventCard {
    width: 250px;
    height: 300px;
  } */
  .addressBar div p {
    font-size: 15px;
  }
  .addressBar div:nth-child(1) {
    visibility: visible;
  }

  /* Events Wale Page ka mediaQuery */

  .eventsContainer {
    grid-template-columns: 1fr;
  }

  /* Particular Event Wale Page ka */
  .leftArea button{
    font-size: 10px;
    padding: 7px 15px;
  }
  .middleArea{
    display: none;
  }
  .particularEventParent div:nth-child(odd){
    width: 100%;
  }
  .particularEventParent {
    flex-direction: column
  }
  .eventOverview div:nth-child(even){
    display: none;
  }
  .eventOverview{
    flex-direction: column;
    gap: 20px;
    text-align: justify;
  }
  .rightArea{
    padding: 50px;
  }

  /* Timeline wala page ke liye */

  .timeline{
    margin: 50px auto;
  }
  .timeline::after{
    left: 31px;
  }
  .container{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .textBox{
    font-size: 13px;
  }
  .textBox small{
    margin-bottom: 10px;
  }
  .rightContainer{
    left: 0;
  }
  .leftContainer img, .rightContainer img{
    left: 10px;
  }
  .leftContainerArrow, .rightContainerArrow{
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}

