*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}
html{
    height: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body{
    background-image :linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.8)), url('website-background.jpg');
    transition: background-image 0.5s ease;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    height: auto;
    overflow-x: hidden;
    width: 100vw;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 0px;
    text-align: justify;
    position: relative;
    overscroll-behavior: none;
}
body.fade-out {
    transition: background-image 0s ease; /* Prevent image transition while fading out */
    background-color: rgba(0, 0, 0, 0.8); /* Optional: Fades to a solid color */
}

.navbar{
    width: 100%;
    height: 12vh;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.628) , rgba(102, 101, 101, 0.143), rgba(255, 255, 255, 0.033)); */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.sidebar{
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.264);
    position: fixed;
    visibility: hidden;
    top: 0;
    right: left;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    color: white;
    transition: 0.1s;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar ul li{
    padding: 10px 0px;
    list-style: none;
}
.sidebar ul li a{
   width: 100%;
    text-decoration: none;
    color: white;
}
.leftNav{
    /* border-right: 2px solid yellow ; */
    border-bottom: 2px solid yellow;
    border-radius: 0 0 50px 0;
}
.rightNav{
    border-bottom: 2px solid yellow;
    border-radius: 0 0 0 50px;
}
.menuNav{
    display: none;
}
.menuNav ul li{
    list-style: none;
}
.menuNav ul li {
    color: yellow;
}
.navbar div:nth-child(odd){
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid yellow; */
    background: rgba(0, 0, 0, 0.445);
    /* border-right: 2px solid yellow; */
    /* border-radius: 0 0px 50px 0; */
}

.navbar div ul:nth-child(odd){
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar div ul li{
    list-style: none;
    margin: 0px 40px;
}
.navbar div ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer{
    width: 100vw;
    height: 12vh;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footerContent{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerContent div{
    height: 100%;
}
.footerContent div:nth-child(odd){
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.445);
}
.footerContent div ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContent div ul li{
    list-style: none;
    margin: 0px 50px;
}
.footerContent div ul li a{
    text-decoration: none;
    color: white;
}
.leftFooter{
    border-top: 2px solid yellow;
    border-radius: 0 50px 0 0;
}
.footerGap{
    visibility: hidden;
}
.rightFooter{
    border-top: 2px solid yellow;
    border-radius: 50px 0 0 0;
}
#home{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("website-background.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* /* transition: 3s;  */
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode:forwards ;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    /* animation: animate 26s ease-in-out infinite; */
}
.innerSection{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}
@keyframes animate {
    0%{
        background-image:url(mobile-bg.jpg);
    }
    20%{
        background-image:url(website-background.jpg);
    }
    40%{
        background-image:url(mobile-bg.jpg);
    }
    60%{
        background-image:url(website-background.jpg);
    }
    80%{
        background-image:url(mobile-bg.jpg);
    }
    100%{
        background-image: url(website-background.jpg);
    }
}


.afterSection{
    height: 30vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0, 0, 0, 0.205), rgba(59, 59, 59, 0.04));
    /* background-color: red; */
}
#about{
    min-height: 100vh;
    width: 100%;
}
#about .aboutContainer{
    display: flex;
    justify-content: space-around;
    padding: 30px 100px;
    gap: 30px;
    font-size: 16px
}
#about div div{
    width: 100%;
    overflow: hidden;
}
#about .aboutDiv{
    overflow: hidden;
    padding: 30px;
    /* padding: 100px; */
}
.aboutDiv div{
    border-radius: 20px; box-shadow: -3px -3px 5px rgba(255, 255, 0, 0.3),
                        5px 5px 20px rgba(255, 255, 0, 0.8);
    height: 300px;
}
#about div div {
    overflow: hidden;
}
#aboutText{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about div p{
    font-size: 1.1em;
}
#registerButton{
    padding: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#registerButton button{
    cursor: pointer;
    padding: 10px 20px;
    color: rgb(52, 52, 52);
    font-size: .8em;
    border-radius: 20px;
    outline: none;
    border: none;
    background:rgb(255, 226, 4);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
#registerButton button:hover{
    background: gray;
    padding: 10px 30px;
    transform: scale(1.1);
    transition: 0.1s;
}
.events{
    padding-top: 20px;
    min-height: 100vh;
    width: 100vw;
}
.events div{
    width: 100%;
    max-width: 2200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.events div .eventCard{
    height: 400px;
    width: 300px;
    background-color: brown;
    border-radius: 20px;
}
.events div button{
    cursor: pointer;
    padding: 10px 20px;
    color: rgb(52, 52, 52);
    font-size: .8em;
    border-radius: 20px;
    outline: none;
    border: none;
    background:red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.events div button:hover{
    background: gray;
    padding: 10px 30px;
    transform: scale(1.1);
    transition: 0.1s;
}
#moreEventsButton{
    margin-top: 50px;
}
.addressBar{
    height: 30vh;
    width: 100vw;
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0, 0, 0, 0.205), rgba(59, 59, 59, 0.04));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.addressBar div:nth-child(1){
    width: 100%;
    display: flex;
    padding: 0px 90px;
    justify-content: space-around;
    align-items: center;
}
.addressBar div:nth-child(1) a img{
    height: 20px;
}

.addressBar div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 10px 0px;
    font-size: 22px;
}